[{oacd_core, [
	{nodes, ['openacd@oacddev.ezuce.com']}
	, {console_loglevel, info}
	, {logfiles, [{"/tmp/openacd.log", info}]}
	%% Add plugins here
	, {plugins, [oacd_freeswitch, oacd_web, oacd_ouc, sipxplugin]}
	, {agent_auth_storage, spx_agent_auth}
	, {call_queue_config_storage, spx_call_queue_config}
]},
%% Application-specific configuration here
{oacd_freeswitch, [
	{freeswitch_node, 'freeswitch@127.0.0.1'},
	{cpx_managed, true}
]},
{oacd_web, [
	{cpx_managed, false}
]},
{oacd_tcp, [
	{cpx_managed, false}
]},
{sipxplugin, [
	% {mongo_hostport, "127.0.0.1:27017"}
]},
{oacd_ouc, [
	{sipxconfig_rest_api, "http://oacddev.ezuce.com/sipxconfig/rest"},
	{contact_info_resource, "/my/contact-information"},
	{frontend_debug, false},
	% no trailing slash
	{frontend_static_root, ""},
	% {frontend_static_root, "http://oacddev.ezuce.com/openacd/static"},
    {root_uri, ""}
]},
{lager, [
	{handlers, [
		{lager_console_backend, [debug, true]}
	]}
]}
].
